---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";
---

<PrimaryLayout>
  <Header />
  <main class="layout">
    <section>
      <div class="main-heading">
        <h1>SEG Assessoria em Transportes - Termos de Uso</h1>
        <span>Última atualização: 07 de Outubro de 2024</span>
      </div>

      <p>
        Os Termos de uso listados abaixo regem o acesso e a utilização do nosso
        website. Ao acessar e navegar por este site, você concorda com os Termos
        de Uso aqui descritos. Caso não concorde, pedimos que não utilize nosso
        website.
      </p>

      <ul class="list">
        <li>
          <article>
            <h2>1. Aceitação dos Termos</h2>
            <p>
              Ao utilizar este site, você concorda em cumprir e estar vinculado
              aos presentes Termos de Uso, bem como a todas as leis e
              regulamentos aplicáveis. Estes Termos poderão ser modificados a
              qualquer momento, sem aviso prévio, e sua continuidade no uso do
              site implicará a aceitação dessas mudanças. É recomendável revisar
              esta página periodicamente para estar ciente de eventuais
              atualizações.
            </p>
          </article>
        </li>

        <li>
          <article>
            <h2>2. Sobre a SEG Assessoria em Transportes</h2>
            <p>
              A SEG Assessoria em Transportes é uma empresa especializada em
              consultoria e assessoria para o setor de transportes. Nosso site
              visa fornecer informações sobre nossos serviços e permitir que os
              usuários entrem em contato conosco para solicitar orçamentos e
              informações.
            </p>
          </article>
        </li>

        <li>
          <article>
            <h2>3. Política de Privacidade</h2>
            <p>
              Nossa empresa valoriza a privacidade de seus usuários. Nosso site
              não faz utilização de cookies de internet, nem rastreamos
              atividades online e não coletamos informações pessoais de forma
              automática durante a navegação no site.
            </p>
            <p>
              As informações pessoais fornecidas voluntariamente pelos usuários
              na seção de solicitação de orçamento, como nome, e-mail, telefone
              e eventuais informações contidas em aquivos anexados são
              utilizadas exclusivamente para realizar o contato necessário em
              resposta à solicitação. Em conformidade com a Lei Geral de
              Proteção de Dados (Lei nº 13.709/2018 - LGPD), asseguramos que:
            </p>
            <ul class="sub-list">
              <li>
                • Os dados fornecidos são utilizados apenas para o fim proposto
                (contato comercial).
              </li>
              <li>
                • Não compartilhamos, vendemos ou transferimos os dados a
                terceiros, exceto quando exigido por lei.
              </li>
            </ul>
            <p>
              Para mais detalhes sobre o tratamento de dados pessoais, consulte
              nossa <a href="/privacidade">Política de Privacidade.</a>
            </p>
          </article>
          <li>
            <article>
              <h2>4. Responsabilidades dos Usuários</h2>
              <p>Ao utilizar este site, você concorda em:</p>

              <ul class="sub-list">
                <li>
                  • Não utilizar o conteúdo para fins ilícitos ou contrários aos
                  bons costumes.
                </li>
                <li>
                  • Não tentar acessar áreas restritas do site ou realizar
                  qualquer tipo de interferência no sistema que possa
                  comprometer sua segurança.
                </li>
                <li>
                  • Fornecer informações verídicas ao utilizar os formulários de
                  contato ou solicitação de orçamento.
                </li>
              </ul>
            </article>
          </li>
          <li>
            <article>
              <h2>5. Isenção de Responsabilidade</h2>
              <p>
                O conteúdo presente no website da SEG Assessoria em Transportes
                é fornecido "no estado em que se encontra", sem garantias de
                qualquer tipo, sejam elas expressas ou implícitas. Embora nos
                esforcemos para garantir que as informações disponibilizadas no
                site sejam precisas e atualizadas, não podemos garantir a total
                ausência de erros ou desatualizações.
              </p>
              <p>
                A SEG Assessoria em Transportes não se responsabiliza por danos
                diretos, indiretos, incidentais, consequenciais ou punitivos que
                possam surgir do uso ou da incapacidade de uso do site,
                incluindo, mas não se limitando, a perda de dados ou interrupção
                dos negócios.
              </p>
            </article>
          </li>
          <li>
            <article>
              <h2>6. Direitos de Propriedade Intelectual</h2>
              <p>
                Todo o conteúdo do site, incluindo, mas não se limitando a
                textos, imagens, logotipos, gráficos, ícones e software, é de
                propriedade exclusiva da SEG Assessoria em Transportes ou de
                seus licenciadores, sendo protegido pelas leis brasileiras de
                direitos autorais (Lei nº 9.610/1998) e de propriedade
                industrial.
              </p>
              <p>
                A reprodução, distribuição ou qualquer outra utilização de
                qualquer conteúdo sem o prévio consentimento por escrito da SEG
                Assessoria em Transportes é estritamente proibida.
              </p>
            </article>
          </li>
          <li>
            <article>
              <h2>7. Links Externos</h2>
              <p>
                Nosso site pode conter links para sites de terceiros, que são
                disponibilizados apenas para conveniência dos usuários. A SEG
                Assessoria em Transportes não tem controle sobre o conteúdo
                desses sites externos e não se responsabiliza pelas práticas ou
                informações apresentadas por eles.
              </p>
            </article>
          </li>
          <li>
            <article>
              <h2>8. Lei Aplicável e Foro</h2>
              <p>
                Estes Termos de Uso são regidos pelas leis da República
                Federativa do Brasil. Qualquer litígio decorrente da utilização
                deste site será submetido à jurisdição exclusiva do foro da
                comarca de Campo Grande, Estado de Mato Grosso do Sul, Brasil.
              </p>
            </article>
          </li>
          <li>
            <article>
              <h2>9. Contato</h2>
              <p>
                Se você tiver dúvidas ou preocupações sobre os Termos de Uso ou
                qualquer outra política do site, entre em contato conosco por
                meio de nosso e-mail: segassessoriaemtransportes@gmail.com
              </p>
            </article>
          </li>
        </li>
      </ul>
    </section>
  </main>
  <Footer />
</PrimaryLayout>

<style>
  section {
    display: grid;
    gap: 3rem;
    margin: 10vh auto 3rem;
  }

  .main-heading {
    display: grid;
  }

  ul,
  .list {
    display: grid;
  }

  ul,
  .main-heading {
    gap: 0.75rem;
  }

  .list {
    gap: 1.5rem;
  }

  p,
  li {
    max-width: 75ch;
  }

  p,
  span,
  .sub-list li {
    opacity: 0.85;
  }

  article {
    display: grid;
    gap: 0.75rem;
  }

  h1,
  h2 {
    font-family: var(--ff-heading);
  }

  h1 {
    font-size: var(--fs-heading-3);
    color: var(--clr-accent-400);
  }

  a {
    color: var(--clr-accent-100);
    text-decoration: underline;
  }

  .sub-list {
    padding-left: 1.25rem;
  }

  span {
    font-size: var(--fs-extra-small);
  }

  :not(h1, h2) {
    line-height: 1.6;
  }

  @media (min-width: 1024px) {
    section {
      margin-top: 20vh;
    }
  }
</style>
